h1 { 
  text-align: center;
  color: blue;
}

.leader1 {
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  width: 50%;
}

.leader2 {
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  width: 50%;
}

.leaderbox {
  display:grid;
}
