h1 { 
  text-align: center;
  color: blue;
}

.leader {
  text-align: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  width: 50%;
}

.leaderbox {
    display: grid;
    justify-content: space-around;
    grid-auto-flow: column
}
